@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.home-container {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/img/ImgHome.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  position: relative; /* Para garantir que o texto esteja acima da imagem */
}

.nav-link {
  transition: all 0.3s ease; /* Suaviza a transição */
}

.nav-item-hover {
  padding: 10px; 
}

.nav-item-hover:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo mais transparente ao passar o mouse */
  backdrop-filter: blur(7px); /* Aumenta o desfoque ao passar o mouse, mas de forma leve */
}


/* animações da pagina inicial/home */

.animate-title {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.btn-hover {
  transition: all 0.3s ease;
}

.btn-hover:hover {
  transform: scale(1.1);
  background-color: #f8f9fa;
  color: #343a40;
}

.floating-text {
  position: absolute;
  top: 80%; /* Ajuste conforme necessário */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  opacity: 0;
  animation: float 4s infinite ease-in-out, fadeIn 2s forwards;
  text-align: center;
}

@keyframes float {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
}

/*animação pomba*/
.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Para garantir que fique acima de outros elementos */
}

.bike-animation {
  font-size: 4rem; /* Tamanho do emoji da motinha */
  transform: rotate(185deg); /* Rotaciona para a direita */
  animation: accelerate 2s forwards; /* Animação de aceleração */
}

@keyframes accelerate {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(200px, -80px); /* Ajuste conforme necessário */
  }
}
