
  
  a:hover {
    color: #007bff !important;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-weight: bold;
  }


  /* Estilo para os ícones */
.icon-style {
    font-size: 2rem;
    margin-right: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  /* Estilo geral dos cards */
  .contato-card {
    background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efeito hover nos cards */
  .contato-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Efeito hover nos ícones */
  .icon-style:hover {
    transform: scale(1.2);
    color: #007bff;
  }
  
