.footer {
  background-color: #343a40; /* Cor de fundo do rodapé */
}

.footer a {
  transition: color 0.3s;
}

.footer a:hover {
  color: #adb5bd; /* Cor de hover dos links */
}

.footer h5 {
  font-weight: bold;
  color: #ffffff; /* Cor do título */
}
