@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link-padrao:hover {
  color: #8ef58a !important;
  transition: all 0.4s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease; /* Para uma transição suave */
}

body {
  padding-top: 50px;
}

.menu-toggle {
  display: none;
  z-index: 1100; /* Garantir que o botão fique acima do menu */
}

/* Menu Responsivo */
@media (max-width: 1024px) {
  .nav {
    display: none; /* Esconder o menu em telas pequenas */
    flex-direction: column;
    background-color: black; /* Cor de fundo */
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px; /* Reduzindo o padding para minimizar a altura do menu */
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra leve para o menu */
    visibility: hidden; /* Esconde o menu inicialmente */
    opacity: 0; /* Esconde o menu inicialmente */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Adiciona uma transição suave */
  }

  .nav.show {
    display: flex;
    visibility: visible; /* Torna o menu visível */
    opacity: 1; /* Torna o menu visível com opacidade */
  }

  /* Ajustando o alinhamento à esquerda, com padding e bordas brancas */
  .nav-link-padrao {
    color: var(--foreground); /* Cor de texto padrão conforme o tema */
    padding: 12px 16px; /* Maior espaçamento entre itens */
    font-size: 18px; /* Ajuste o tamanho da fonte */
    text-align: left; /* Alinha os itens do menu à esquerda */
    width: 100%;
    border-bottom: 1px solid #fff5 !important; /* Borda branca para separação dos itens */
    transition: background-color 0.3s ease; /* Transição para o fundo ao passar o mouse */
  }

  /* Remove o risco do último item do menu */
  .nav-link-padrao:last-child {
    border-bottom: none;
  }

  /* Efeito de hover */
  .nav-link-padrao:hover {
    background-color: #333; /* Altere para um fundo escuro suave */
    color: #8ef58a !important; /* Cor de destaque ao passar o mouse */
    transition: all 0.4s ease;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative !important; /* Garante o controle total sobre a posição do botão */ 
    transform-origin: center !important; /* Centraliza a transformação */ 
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Remover a borda superior do menu */
  .nav {
    border-top: none; /* Remover a borda superior */
  }

  /* Adicionar animação de pulsação apenas para o último item de "Doação" */
  .nav.show .nav-link-padrao:last-child.pulsing {
    animation: pulse 1.5s infinite;
    margin-left: 13px;
  }
}

/* Animação de pulsação */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Botão de Doação com animação de pulsação */
.pulsing {
  animation: pulse 1.5s infinite;
}
